.artwork-icon {
  gap: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  user-select: none;
  max-width: 8vmax;
  text-align: center;
}

.artwork-icon__thumbnail {
  max-width: 80px;
  max-height: 80px;
  user-select: none;
  margin-bottom: 0.3em;
  box-shadow: 0px 0px 30px white;
}

.artwork-icon__badge {
  width: 100%;
}

.artwork-icon__link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-icon__text {
  overflow-wrap: break-word;
  text-shadow: 0px 0px 20px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
}

.artwork-icon__link {
  transform: scale(1);
  transition: transform 0.05s;
}

.artwork-icon__badge_link {
  transform: scale(1);
  transition: transform 0.05s;
  filter: drop-shadow(0px 0px 5px #00000088);
  margin: 0.4em auto 0px;
  width: 60px;
  display: block;
}

.artwork-icon__link:visited {
  color: white;
}

.artwork-icon__link:hover {
  transform: scale(1.05);
}

.artwork-icon__badge_link:hover {
  transform: scale(1.1);
}

@keyframes enter-in {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1300px) {
  .artwork-icon__thumbnail {
    max-width: 70px;
    max-height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .artwork-icon__thumbnail {
    max-width: 50px;
    max-height: 50px;
  }

  .artwork-icon .artwork-icon__text {
    font-size: 10px;
    min-width: 80px;
  }

  .artwork-icon__badge_link {
    width: 55px;
  }
}
