@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  background: #00000099;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn 0.5s;
  display: flex;
  z-index: 2;
}

.modal-scroller {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  margin: auto;
}

.modal-content {
  opacity: 0;
  max-width: 1300px;
  margin: 48px;
  gap: 12px;
}

.modal-loader-image {
  z-index: 9999;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}

.modal-loader-image--removed {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.modal__img-grid {
  transition: opacity 0.5s;
  display: grid;
  box-sizing: border-box;
  text-align: center;
  gap: 15px;
}

.modal__img-grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.modal__img-grid--1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
}

.modal__img-grid--2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.modal__img-grid--2-alt {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal__img-grid--4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal__img-grid-cell img {
  max-height: max(400px, 80vh);
  object-fit: contain;
}

.modal__img-grid--4 img {
  max-height: max(300px, 35vh);
}

.modal p {
  margin: 0px;
  color: white;
  font-size: 16px;
  line-height: normal;
}

.fade-in {
  opacity: 1;
}

.modal-content-flex {
  display: flex;
  gap: 10px;
}

.modal__prints-img-grid {
  transition: opacity 0.5s;
  display: grid;
  gap: 10px;
}

.modal__prints-img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__prints-img-grid--3 {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal__prints-img-grid--2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.modal__prints-img-grid--6 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal__prints-img-grid--3 img:first-child {
  grid-row: span 2;
}

.prints-sidebar {
  flex: 1 0 280px;
  padding: 24px 8px;
}

.prints-sidebar > p,
.prints-sidebar > a {
  margin-bottom: 12px;
  display: block;
}

@media screen and (max-width: 1000px) {
  .modal-content-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    margin: 48px;
  }
  .modal__img-grid {
    grid-template-columns: 1fr;
  }

  .modal__prints-img-grid {
    grid-template-columns: 1fr;
  }
  .modal h1 {
    font-size: 30px;
  }
}
