@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.sub-screen {
  background: #00000099;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn 0.5s;
  display: flex;
}

.sub-screen-scroller {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  margin: auto;
}

.sub-screen-dialog {
  opacity: 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background: rgba(10, 184, 10, 0.402);
  /* min-height: 500px; */
  margin: 48px;
  gap: 12px;
}

.modal-loader-image {
  z-index: 9999;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}

.modal-loader-image--removed {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.sub-screen__content {
  transition: opacity 0.5s;
  display: grid;
  box-sizing: border-box;
  text-align: center;
  gap: 15px;
  background: rgba(0, 0, 255, 0.477);
  
}

.sub-screen__content-cell {
  background: rgba(255, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  
}


.sub-screen__content--1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
}

.sub-screen__content--2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.sub-screen__content--2-alt {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.sub-screen__content--3 {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.sub-screen__content--4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sub-screen__content-cell img {
  max-height: max(400px, 80vh);
  object-fit: contain;
  flex-shrink: 0;
}

.sub-screen__content--4 img {
  max-height: max(350px, 30vh);
}

.sub-screen p {
  margin: 0px;
  color: white;
  font-size: 16px;
  line-height: normal;
}

.fade-in {
  opacity: 1;
}

.prints-sidebar {
  flex: 1 1 300px;
  padding: 24px 8px;
}

.prints-sidebar p {
  margin-bottom: 37px;
}

@media screen and (max-width: 600px) {
  .sub-screen-dialog {
    margin: 24px;
  }
  .sub-screen__content {
    grid-template-columns: 1fr;
  }
  .sub-screen h1 {
    font-size: 30px;
  }
}
