@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.sub-screen {
  background: #00000099;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn 0.5s;
  padding: 48px;
  justify-content: center;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.sub-screen-dialog {
  opacity: 0;
}

.modal-loader-image {
  z-index: 9999;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}

.modal-loader-image--removed {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.sub-screen__content {
  transition: opacity 0.5s;
  display: grid;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  gap: 30px;
}

.sub-screen__content div {
  justify-self: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0px;
}

.sub-screen__content img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline;
  margin: 0px;  
}

.sub-screen__content--1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
}
.sub-screen__content--1 img {
  max-height: 80vh;
  max-width: 80vw;
}

.sub-screen__content--3 {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.sub-screen__content--3 img {
  max-height: 90vh;
  max-width: 90vw;
}
.sub-screen__content--3 > div:nth-child(1) {
  grid-row: 1 / span 2;
}
.sub-screen__content--3 > div:nth-child(1) img {
  object-fit: cover;
}
.sub-screen__content--3 > div:nth-child(2) img {
  max-height: calc(90vh / 2 - 15px);
  max-width: calc(90vw / 2 - 15px);
}
.sub-screen__content--3 > div:nth-child(3) img {
  max-height: calc(90vh / 2 - 15px);
  max-width: calc(90vw / 2 - 15px);
}

.sub-screen__content--2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.sub-screen__content--2 img {
  max-height: 80vh;
  max-width: 45vw;
}

.sub-screen__content--2-alt {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.sub-screen__content--2-alt img {
  max-width: 80vw;
  max-height: 40vh;
}

.sub-screen__content--4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.sub-screen__content--4 > div:nth-child(1) {
  align-self: flex-end;
}
.sub-screen__content--4 > div:nth-child(2) {
  align-self: flex-end;
}
.sub-screen__content--4 > div:nth-child(3) {
  align-self: flex-start;
}
.sub-screen__content--4 > div:nth-child(4) {
  align-self: flex-start;
}
.sub-screen__content--4 img {
  max-height: 40vh;
  max-width: 45vw;
}

.sub-screen p {
  margin: 0px;
  color: white;
  font-size: 16px;
  line-height: normal;
}

.fade-in {
  opacity: 1;
}

.prints-sidebar {
  flex: 1 1 300px;
  padding: 24px 8px;
}

.prints-sidebar p {
  margin-bottom: 37px;
}

@media screen and (max-width: 600px) {
  .sub-screen__content {
    grid-template-columns: 1fr;
  }
  .sub-screen__content img {
    max-width: 90vw;
    max-height: 90vw;
  }
  .sub-screen h1 {
    font-size: 30px;
  }
}
