.artwork-icon {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 12px;
}

.artwork-icon img {
  max-width: 60px;
}

.artwork-icon:visited {
  color: white;
}

.artwork-icon {
  transform: scale(0);
  animation-name: enter-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes enter-in {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

