#title {
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 30px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}

header h1 {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

footer {
  display: flex;
  gap: 1rem;
}

footer a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
}


@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }
  footer a {
    color: white;
    font-size: 10px;
    text-decoration: none;
  }
}