.cursor {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  pointer-events: none;
  opacity: 0.01;
  user-select: none;
  transition: transform 0.2s;
  transform-origin: top left;
}

.cursor--enabled {
  opacity: 1;
}

.cursor__image {
  position: absolute;
  top: 0;
  left: 0;
}

.cursor__image--default {
  visibility: visible;
}

.cursor__image--hovered {
  visibility: hidden;
}

html:has(a:hover) .cursor__image--default {
  visibility: hidden;
}

html:has(a:hover) .cursor__image--hovered {
  visibility: visible;
}