:root {
  font-family: pixel, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

header h1 {
  font-size: 16px;
}

#root {
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}

main {
  height: 200dvh;
  width: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}