:root {
  font-family: pixel, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  z-index: 1;
  height: max(200lvh, 1200px);
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  height: 100%;
}

canvas {
  image-rendering: pixelated;
  height: max(100lvh, 100%) !important;
  width: 100vw !important;
  position: fixed;
  top: 0;
}

.for-sale-tag {
  max-width: 80px;
}

#built-by {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}

#built-by a {
  color: #fff;
  text-underline-offset: 5px;
  font-weight: bold;
  z-index: 1;
}

#built-by a:hover {
  text-shadow: 0px 0px 20px #ffffff8a;
}

.nice-link {
  color: white;
  text-underline-offset: 5px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    z-index: 1;
    min-height: max(300lvh, 1200px);
    position: relative;
  }
}